@page "/filter"
@using CA3Brewery.Brewery
@inject IBreweryService BreweryService
@using System.Collections.Generic
@using Newtonsoft.Json
@using Microsoft.AspNetCore.Components.Routing
@inject NavigationManager Navigation

@inject HttpClient Http

<PageTitle>Brewery</PageTitle>
<h1>Filter Type of Breweries</h1>

<div class="form-group">
    <label for="exampleFormControlSelect1">Filter by Type</label> 
    <select class="form-control" id="searchInput" @bind="searchType">
        <option value="micro"@onclick="GetBreweryType">Micro</option>
        <option value="nano">Nano</option>
        <option value="regional">Regional</option>
        <option value="planning">Planning</option>
        <option value="contract">Contract</option>
        <option value="brewpub">Brewpub</option>
        <option value="closed">Closed</option>
    </select>
    <button class="btn btn-secondary mt-3" @onclick="GetBreweryType">Submit</button>
</div>

<div>
    <div class="card-columns">
        <div class="row d-flex">
            @foreach (var brewery in breweries)
            {
                <div class="col-sm-4 mt-3">
                    <div class="card" @onclick="@(() => NavigateToBreweryDetails(brewery.id))">
                        <div class="card-body">
                            <h6 class="card-title">@brewery.name</h6>
                            <p class="card-text">Brewery Type: @brewery.brewery_type</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>




@if (Error != null)
{
    <p>Error: @Error</p>
}

@code {
    private List<BreweryItem> breweries = new List<BreweryItem>();
    private string searchType;
    private BreweryItem selectedBrewery;
    public string Error { get; set; }
    private int selectedPage = 10;


    protected override async Task OnInitializedAsync()
    {
        //
        Http = new HttpClient();

        try
        {
            var breweryService = new BreweryService(Http);
            breweries = await BreweryService.GetBrewery(selectedPage);
        }
        catch (Exception e)
        {
            Error = e.Message;
            Console.WriteLine(Error);
        }
    }

    private async Task GetBreweryType()
    {
        try
        {
            breweries = await BreweryService.GetBreweryType(searchType);
        }
        catch (Exception e)
        {
            Error = e.Message;
            Console.WriteLine(Error);
        }
    }


    //navigation
    private void NavigateToBreweryDetails(string id)
    {
        Navigation.NavigateTo($"/brewery/{id}");
    }
}