@page "/"
@using CA3Brewery.Brewery
@inject IBreweryService BreweryService
@using System.Collections.Generic
@using Newtonsoft.Json
@using Microsoft.AspNetCore.Components.Routing
@inject NavigationManager Navigation

@inject HttpClient Http

<PageTitle>Brewery</PageTitle>
<h1>Brewery List</h1>
<br />
<div>
    @if (breweries != null)
    {
        <ul>
            @foreach (var brewery in breweries)
            {
                <li @onclick="@(() => NavigateToBreweryDetails(brewery.id))">@brewery.id</li>
            }
        </ul>
    }
</div>

@code {
    private List<BreweryItem> breweries = new List<BreweryItem>();
    private BreweryItem selectedBrewery;
    public string Error { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // Initialize the HttpClient instance in the OnInitializedAsync method
        Http = new HttpClient();

        try
        {
            var breweryService = new BreweryService(Http);
            breweries = await BreweryService.GetBrewery();
        }
        catch (Exception e)
        {
            Error = e.Message;
            Console.WriteLine(Error);
        }
    }


    private void NavigateToBreweryDetails(string id)
    {
        Navigation.NavigateTo($"/brewery/{id}");
    }
}

@if (Error != null)
{
    <p>Error: @Error</p>
}
