@page "/"
@using CA3Brewery.Brewery
@inject IBreweryService BreweryService

<PageTitle>Brewery</PageTitle>
<h1>Brewery List</h1>
<br/>
<div>
    @if(Brewery == null)
    {
        <p>Loading Brewery...</p>
    }
    else
    {
        <div class="row">
            @foreach(var item in Brewery)
            {
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@item.name</h5>
                            <p> class="text">@item.id</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>

@if(!string.IsNullOrEmpty(Error))
{
    <p>Error</p>
}

@code {
    public List<BreweryItem> Brewery { get; set; }
    public string Error { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Brewery = await BreweryService.GetBrewery();
        }
        catch(Exception e)
        {
            Error = e.Message;
        }
    }
}
}
